@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: PlayWrite;
  src: url('/Fonts/PlaywriteHU-Regular.ttf');
}

@font-face {
  font-family: BebasNeue;
  src: url('/Fonts/BebasNeue-Regular.ttf');
}
@font-face {
  font-family: Roboto;
  src: url('/Fonts/Roboto_Condensed-Regular.ttf');
}

@theme {
  --font-playWrite: PlayWrite;
  --font-BebasNeue: BebasNeue;
  --font-Roboto: Roboto;
}


.EDIT_SCROLL-BAR-SIDEBAR {
  width: 200px;
  overflow-y: scroll;
  /* Enable scrolling */
}

.EDIT_SCROLL-BAR-SIDEBAR:hover::-webkit-scrollbar {
  display: none;
}

.EDIT_SCROLL-BAR-SIDEBAR::-webkit-scrollbar {
  display: none;
}




.EDIT_SCROLL-BAR-SIDEBAR:hover::-webkit-scrollbar {
  display: none;
}

/* Style the scrollbar track */
.EDIT_SCROLL-BAR-SIDEBAR::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

/* Style the scrollbar thumb */
.EDIT_SCROLL-BAR-SIDEBAR::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Hover effect for the thumb */
.EDIT_SCROLL-BAR-SIDEBAR::-webkit-scrollbar-thumb:hover {
  background: #555;
}












.SCROLLBAR_OF_CATEGORY::-webkit-scrollbar {
  display: none;
}

.singleVideo {
  position: relative;
  border: 2px solid black;
  overflow: hidden;
}


.singleVideo::before {
  content: '';
  animation: ani 4s infinite linear;
  height: 100%;
  width: 100%;
  left: -100%;
  position: absolute;
  background: linear-gradient(#27272a, #d0d8d1a4, #27272a);
}

@keyframes ani {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}


.LoaderOfMainVidoes {
  border: 4px solid #27272a;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  position: relative;
  top: 10vw;
  animation: spin 1s infinite;
  margin: auto;
}

@keyframes spin {
  100% {
    rotate: 360deg;
  }
}



/* Thin horizontal track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;             /* base color */
  border-radius: 1px;
}

input[type="range"]::-moz-range-track {
  height: 5px;        
  border-radius: 1px;
}


/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  margin-top: calc((track-height - thumb-height) / 2 * -1);
}

/* Example: if track is 4px and thumb is 16px */
input[type="range"]::-webkit-slider-thumb {
  margin-top: -5px; 
}


@keyframes spin {
    to { transform: rotate(360deg); }
}